@page
@model PRN221_Project.Pages.Budgets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].TotalBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Description)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Budget) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TotalBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BudgetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BudgetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BudgetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
